doctype html
html(lang='en')
    head
        title Headers & footers
    body
        div.container
            div.logo
            div.box-header-log-out
                div.logo-box
                    div.header-logo-image-box.logo-image
                    div.header-logo-name-box.logo-name
                div.nav-buttons-box
                    div
                        mixin navItem(data)
                            li.navItem_name(class=data.navItemClass)=data.name
                        ul.navbar
                         +navItem({name: 'О нас', navItemClass:'about'})
                         +navItem({name: 'Услуги', navItemClass:'services'})
                         +navItem({name: '', navItemClass:'expand-more'})
                         +navItem({name: 'Вакансии', navItemClass:'vacancies'})
                         +navItem({name: 'Новости', navItemClass:'news'})
                         +navItem({name: 'Соглашения', navItemClass:'agreements'})
                         +navItem({name: '', navItemClass:'expand-more'})
                    div.buttons-box
                        div.round-angle
                            button.button-log-in войти
                        button.button-register зарегистрироваться
            div.box-header-log-in
                div.logo-box
                    div.header-logo-image-box.logo-image
                    div.header-logo-name-box.logo-name
                div.nav-buttons-box
                    div.navbar
                        mixin navItem(data)
                            li.navItem_name(class=data.navItemClass)=data.name
                        ul.navbar
                         +navItem({name: 'О нас', navItemClass: 'about'})
                         +navItem({name: 'Услуги', navItemClass: 'services'})
                         +navItem({name: '', navItemClass: 'expand-more'})
                         +navItem({name: 'Вакансии', navItemClass: 'vacancies'})
                         +navItem({name: 'Новости', navItemClass: 'news'})
                         +navItem({name: 'Соглашения', navItemClass: 'agreements'})
                         +navItem({name: '', navItemClass: 'expand-more'})
                    div.username-box
                        div.split
                        div.username Юлий Цезарь
            div.footer-widgets
                div.footer-widgets-box-1
                  div.footer-logo
                     div.footer-logo-image-box.logo-image
                     div.footer-logo-name-box.logo-name
                  div.footer-widgets-text Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
                div.footer-widgets-box-2
                    div
                        mixin navItem(data)
                            li(class=data.navItemClass)=data.name
                        ul.widget-navbar
                            +navItem({name: 'Навигация', navItemClass: 'widget-h'})
                            +navItem({name: 'О нас', navItemClass: 'widget-item'})
                            +navItem({name: 'Новости', navItemClass: 'widget-item'})
                            +navItem({name: 'Служба поддержки', navItemClass: 'widget-item'})
                            +navItem({name: 'Услуги', navItemClass: 'widget-item'})
                    div
                        mixin navItem(data)
                            li(class=data.navItemClass)=data.name
                        ul.widget-about
                            +navItem({name: 'О нас', navItemClass: 'widget-h'})
                            +navItem({name: 'О сервисе', navItemClass: 'widget-item'})
                            +navItem({name: 'Наша команда', navItemClass: 'widget-item'})
                            +navItem({name: 'Вакансии', navItemClass: 'widget-item'})
                            +navItem({name: 'Инвесторы', navItemClass: 'widget-item'})
                    div
                        mixin navItem(data)
                            li(class=data.navItemClass)=data.name
                        ul.widget-help
                            +navItem({name: 'Служба поддержки', navItemClass: 'widget-h'})
                            +navItem({name: 'Соглашения', navItemClass: 'widget-item'})
                            +navItem({name: 'Сообщества', navItemClass: 'widget-item'})
                            +navItem({name: 'Связь с нами', navItemClass: 'widget-item'})
                    div
                        mixin navItem(data)
                            li(class=data.navItemClass)=data.name
                        ul.widget-subscribe
                            +navItem({name: 'Подписка', navItemClass: 'widget-h'})
                            +navItem({name: 'Получайте специальные предложения и новости сервиса', navItemClass: 'widget-item-subscribe'})
                            input.email-input(
                                type='text'
                                placeholder="Email"
                            )

            div.footer-copyright-bar-1
                div.copyright-text-1 Copyright © 2018 Toxin отель. Все права зачищены.
                div.social-networks-1
                    div.twitter
                    div.fb
                    div.ig
            div.footer-copyright-bar-2
                div.footer-logo
                   div.footer-copyright-bar-2-logo-image-box.logo-image
                   div.footer-copyright-bar-2-logo-name-box.logo-name
                div.copyright-text-2 Copyright © 2018 Toxin отель. Все права зачищены.
                div.social-networks-2
                    div.twitter
                    div.fb
                    div.ig


