doctype html
html(lang='en')
    head
        title Colors & Type
    body
      div.container
        div.logo
        div.content
            div.box1
              mixin colorBox(colorData)
                  .colorBox
                      .colorBox_rectangle(class=colorData.backgroundColor)
                      .colorDescription
                        .colorBox_name= colorData.name
                        .colorBox_hex= colorData.hex
              +colorBox( {backgroundColor: 'main-color-100', name: 'Dark Shade 100%', hex: '#1F2041'} )
              +colorBox( {backgroundColor: 'main-color-75', name: 'Dark Shade 75%', hex: '#1F2041'} )
              +colorBox( {backgroundColor: 'main-color-50', name: 'Dark Shade 50%', hex: '#1F2041'} )
              +colorBox( {backgroundColor: 'main-color-25', name: 'Dark Shade 25%', hex: '#1F2041'} )
              +colorBox( {backgroundColor: 'main-color-5', name: 'Dark Shade 5%', hex: '#1F2041'} )
              +colorBox( {backgroundColor: 'second-color', name: 'Purple', hex: '#BC9CFF'} )
              +colorBox( {backgroundColor: 'third-color', name: 'Green', hex: '#6FCF97'} )

            div.box2
                  div.fontBox
                    div.type_box
                      mixin fontType (fontTypeData)
                        .text_type(class=fontTypeData.fontType)= fontTypeData.type
                      +fontType( {type: 'H1', fontType: 'fontH1'} )
                      +fontType( {type: 'H2', fontType: 'fontH2'} )
                      +fontType( {type: 'H3', fontType: 'fontH3'} )
                      +fontType( {type: 'Body', fontType: 'fontBody'} )
                    div.example-box
                      mixin fontExample(fontExampleData)
                        .text_example(class=fontExampleData.fontExample)= fontExampleData.example
                      +fontExample( {example: 'This one is the sub-section or widget title', fontExample:'font-H1'} )
                      +fontExample( {example: 'Next one is the item title inside widgets', fontExample:'font-H2'} )
                      +fontExample( {example: 'This is a label or CTA text', fontExample:'font-H3'} )
                      +fontExample( {example: 'This is the body text which is used for most of the design, like paragraphs, lists, etc.', fontExample:'font-Body'} )







